body{
    background-color:  lightgrey;
}

.container{
    width: 70%;
    background-color: white;
    margin: 0 auto;
}
    /* Header */
header{
    border-bottom: 1 px solid lightgrey;
    margin: 30px;
}

/* Button */
.add{
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.task{
    background-color: blue;
    color: white;
}

.section{
    background-color: white;
    color: grey;
}
/* /Button */


/* Main */
h1{
    margin-bottom: 0;
}

.select{
    font-size: 0.8rem;
}

.check{
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 10px;
}

.delete{
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 10px;
}
    


.icon{
    font-size: 14px;
    vertical-align: middle;
    line-height: 1;
}

.choice{
    font-size: 1.5rem;
}

.button_dimension{
    border-radius: 25px;
    padding: 7px;
    font-size: 10px;
    margin-left: 3px;
}

.blue{
    background-color: blue;
    color: white;
    border: 1px solid blue;
}

.purple{
    background-color: blueviolet;
    color: white;
    border: 1px solid blueviolet;
}

.green{
    background-color: green;
    color: white;
    border: 1px solid green;
}

.orange{
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
}

.pink{
    background-color: palevioletred;
    color: white;
    border: 1px solid palevioletred;
}

.yellow{
    background-color: yellowgreen;
    color: white;
    border: 1px solid yellowgreen;
}